<h2>New place</h2>

<% if @user != nil %>
<form action="/places" method="post">
<div class="mb-3">
  <p>
    <label for="name" class ="form-label" >Name</label> 
    <input type="text" name="name" class ="form-control">
  </p>
  
  <button class="btn btn-primary">Save</button>
<% else %>
  You must first <a href="/login">login</a> to add a new place.
<% end %>

	
	 